/demo*
/backend
/frontend
# Игнорировать все node_modules на любом уровне
**/node_modules/

# Игнорировать все .vite папки на любом уровне
**/.vite/
*/.env
.vscode/
playwright_for_noteapp/
part6_theory/
